body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    padding-bottom: 10px;
}

#main {
    margin-left: auto;
    margin-right: auto;
    padding: 50px 50px;
}

hr {
    width: 60%;
}

h3 {
    text-decoration: underline;
}

#llistatautors {
    padding-top: 10px;
    padding-bottom: 20px;
}

.botonsnavegacio {
    text-align: center;
}